name: Emacs Syntax Check

on: [push, pull_request]

jobs:
  syntax-check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install emacs
      run: |
        sudo apt-get update
        sudo apt-get install emacs

    - name: Set up environment
      run: |
        echo $PWD
        find .

    - name: Check emacs configuration for syntax errors
      run: emacs --batch --eval '(check-parens)' --script init.el
